<mat-toolbar color="primary">
    <button (click)="toggleSidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button (click)="changeModule('todo')" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        todo
    </button>
    <button (click)="changeModule('user')" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        user
    </button>
</mat-toolbar>